:root {
    --primaryColor: rgba(8, 166, 228, 1);
    /* blue */
    --secondColor: rgba(251, 59, 100, 1);
    /* pink */
    --thirdColor: rgba(85, 223, 180, 1);
    /* mint */
    --blackColor: rgba(0, 0, 0, 1);
    /* black */
    --primaryGreyColor: rgba(112, 112, 112, 1);
    /* Grey first */
    --primaryGreyColorSecond: rgba(149,152,154,1);
    /* grey second */
    --primaryGreyColorThird: rgba(165, 165, 165, 1);
    /* grey third */
    --primaryWhiteColor: rgba(255, 255, 255, 1);
    /* white color */
    --mainFont: "Open Sans", sans-serif;
    --secondFont: "Raleway", sans-serif;

    --mainOpacity: 1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header .container {
    width: 1352px;
    margin: 0 auto;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pageNavList {
    display: flex;
    flex-direction: row;  
}

.pageNavList a {
    text-align: center;
    font-family: var(--mainFont);
    font-weight: 700;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 3.28px;
    color: var(--primaryGreyColorThird);
    opacity: var(--mainOpacity);
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 4px solid transparent;
    margin: 47px;
    padding: 26px;
    transition: 0.5s;
    
}

.pageNavList a:hover {
    border-bottom: 4px solid var(--primaryColor);
    color: var(--blackColor);
}

.page-logo {
    text-align: left;
    font-family: var(--secondFont);
    font-size: 32px;
    line-height: 38px;
    font-weight: 300;
    letter-spacing: 0;
    opacity: var(--mainOpacity);
    color: var(--primaryColor);
    text-decoration: none;
}

header {
    background-color: var(--primaryWhiteColor);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    opacity: 1;
    position: fixed;
    z-index: 1000;
    width: 100%;
}

/* First Container  in Header*/

.firstBanner {
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 70px;
}

.firstPart {
    width: 100%;
    height: 180px;
}

.bacgroundImage {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    opacity: var(--mainOpacity);
    margin-top: 106px;
}

.mainText {
    text-align: center;
    font-family: var(--secondFont);
    font-size: 49px;
    line-height: 59px;
    letter-spacing: 0;
    color: var(--blackColor);
    opacity: var(--mainOpacity);
    padding-top: 90px;
    margin-bottom: 20px;
}

.text {
    text-align: center;
    font-family: var(--mainFont);
    font-size: 16px;
    line-height: 22px;
    color: var(--blackColor);
    opacity: var(--mainOpacity);
    letter-spacing: 0;
    margin-bottom: 60px;
}

.btn {
    border: none;
    font-family: var(--mainFont);
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
    color: var(--blackColor);
    opacity: var(--mainOpacity);
    letter-spacing: 0;
    padding-top: 22px;
    padding-right: 157px;
    padding-bottom: 23px;
    padding-left: 157px;
    color: var(--primaryWhiteColor);
    background-color: var(--primaryColor);
    border-radius: 40px;
    opacity: var(--mainOpacity);
    box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.16);
    text-align: center;
    
}
.button {
    text-align: center;
}

.btn:hover {
    cursor: pointer;
}


/* section - 3 */
.main-text-second {
    text-align: left;
    font-family: var(--secondFont);
    font-size: 36px;
    line-height: 43px;
    letter-spacing: 0;
    opacity: var(--mainOpacity);
    color: var(--blackColor);
}

.section-header {
    font-family: var(--secondFont);
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    letter-spacing: 0;
    opacity: 1;
    color: var(--blackColor);
    text-align: center;
    margin-top: 282px;
    margin-bottom: 100px;
}

.roundel {
    width: 62.71px;
    height: 62.71px;
    border-radius: 50px;
    display: inline-block;
    margin-bottom: 18px;
    opacity: 1;
}

.numbers {
    font-family: var(--secondFont);
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 5.96px;
    color: var(--blackColor);
    opacity: 1;
    text-align: center;
    margin-bottom: 22px;
    text-align: center;
}

.signature {
    font-family: var(--secondFont);
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0;
    color: var(--primaryGreyColorThird);
    opacity: 1;
    text-align: center;
    width: 120px;
}

.section-three {
    margin: auto;
    width: 850px;
    display: flex;
    justify-content: space-between;
    align-items: baseline; /* tutaj linie sie nie zgadzaja!!! */
    
}

.section-three .box-icon, .section-three .box-icon-center {
    text-align: center;
    align-self: center;
    margin-bottom: 121px;
}

/* Pseudoelements with ikon */

.roundel-first {
    background-color: var(--secondColor);
    position: relative;
}

.roundel-first::after {
    content: "";
    background-image: url(../icon/Person.svg);
    background-position: center right;
    background-repeat: no-repeat;
    width: 44px;
    height: 53px;
    display: inline-block;
    position: absolute;
    z-index: 4;
}

.roundel-second {
    background-color: var(--primaryColor);
    position: relative;
}

.roundel-second::after {
    content: "";
    background-image: url(../icon/Eye.svg);
    background-position: center right;
    background-repeat: no-repeat;
    position: absolute;
    display: inline-block;
    width: 65.43px;
    height: 63.5px;
}

.roundel-third {
    background-color: var(--thirdColor);
}

.roundel-third::after {
    content: "";
    background-image: url(../icon/Catalog.svg);
    background-position: center right;
    background-repeat: no-repeat;
    position: absolute;
    display: inline-block;
    width: 54.71px;
    height: 62.71px;
}




/* section - 3 */
.thirdSection {
    background-color:  rgba(247, 247, 247, 1);
    padding-top: 105px;
    padding-bottom: 105px ;
}


.white-container-rows {
    width: 1124px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
}

.white-container-columns {
    display: flex;
    flex-direction: rows;
    justify-content: space-between;
    width: 1124px;
    margin: auto;
}

.box {
    height: 370px;
    width: 100%;
    margin-bottom: 37px;
    display: flex;
    
}

.box-part {
    height: 370px;
    width: 45%;
}

.box-container div {
    background: white;
    z-index: 1;
    position: relative;
}
.box-first {
    width: 623px;
    height: 370px;
}
.box-second {
    width: 440px;
    height: 370px;
}
.left-part {
    width: 50%;
    padding-left: 36px;
    padding-top: 97px;
}

.left-part-small {
    width: 25em;
    padding-top: 75px;
}

.right-part {
    width: 50%;
}
.right-part-content {
    padding-top: 111px;
    padding-left: 22px;
}

.right-part-content-small-padding {
    padding-top: 29px;
    padding-left: 70px;
}

.box-text {
    width: 416px;
    text-align: left;
    font-family: var(--mainFont);
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--blackColor);
    margin-top: 30px;
    position: absolute;
}

.box-text::after {
    content: "";
    border: 4px solid var(--secondColor);
    display: block;
    margin-top: 50px;
    width: 320px;
    height: 0;
    opacity: var(--mainOpacity);
    text-align: left;
}

.box-text-blue::after {
    content: "";
    border: 4px solid var(--primaryColor);
    display: block;
    margin-top: 50px;
    width: 320px;
    height: 0;
    opacity: var(--mainOpacity);
    text-align: left;
}

.box-text-green::after {
    content: "";
    border: 4px solid var(--thirdColor);
    display: block;
    margin-top: 50px;
    width: 320px;
    height: 0;
    opacity: var(--mainOpacity);
    text-align: left;
}




.image-background img
{
    height: 219px;
    
}

.image-circle-background img {
    height: 335px;
}

.image-background::after {
    content: "";
    width: 200px;
    height: 200px;
    border-radius: 41px;
    background-color: var(--secondColor);
    transform: rotate(45deg);
    position: absolute;
    /* left: 0; */
    z-index: -1;
    right: 123px;
    bottom: 69px;
}

.image-circle-background::after {
    content: "";
    width: 320px;
    height: 320px;
    border-radius: 160px;
    background-color: var(--primaryColor);
    transform: rotate(45deg);
    position: absolute;
    /* left: 0; */
    z-index: -1;
    left: 0;
    top: -20px;
}

.white-container-columns .box-second {
    background-color: var(--thirdColor);
}
.box-second {
    display: flex;
    justify-content: center;
}
.white-container-columns .box-second-img {
    width: 300px;
    height: 210px;
    background-image: url(../images/Trumpet.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-self: center;
    background-color: inherit;
}

/* section five */
.section-header-small {
    margin-top: 106px;
    margin-bottom: 50px;
}

.price-container {
    width: 372px;
    height: 461px;
    border-radius: 18px;
}

.price-container-left {
    border: 1px solid var(--secondColor);
    position: relative;
}

.price-container-center {
    width: 405px;
    height: 500px;
    border-radius: 18px;
    border: 1px solid var(--primaryColor);
    box-shadow: 5px 10px 27px #07ACE629;
    position: relative;
    
}

.price-container-right {
    border: 1px solid var(--thirdColor);
    position: relative;
}



.wraper {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: auto;
    width: calc( 100vw - 200px);
    margin-top: 30px;
    margin-bottom: 35px;
    align-items: center;
    margin-bottom: 160px;
}
.price-header {
    font-family: var(--secondFont);
    font-weight: 700;
    font-size: 20px;
    line-height: 1px;
    letter-spacing: 0;
    color: rgba(19, 37, 59, 1);
    text-align: center;
    margin-top: 38px;
}
.price-price {
    font-family: var(--mainFont);
    font-weight: 300;
    font-size: 46px;
    line-height: 2px;
    letter-spacing: 0;
    text-align: center;
    margin-top: 60px;
    
}
.price-price-left {
    color: rgba(251, 59, 100, 1);
}
.price-price-center {
    color: var(--primaryColor);
}
.price-price-right {
    color: var(--thirdColor);
}

.price-btn{
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 57px;
    padding-right: 57px;
    border-radius: 23px;
    font-family: var(--mainFont);
    font-weight: 700;
    font-size: 13px;
    line-height: 41px;
    text-align: center;

}
.price-btn-left {
    background-color: var(--secondColor);
    color: var(--primaryWhiteColor);
    
}

.button-price {
    position: absolute;
    bottom: -20px;
    left: 109px;
}

.price-btn-center {
    background-color: var(--primaryColor);
    color: var(--primaryWhiteColor);
    padding-bottom: 16px;
    padding-top: 16px;
    padding-left:64px ;
    padding-right: 64px;
    box-shadow: 5px 10px 14px #07ACE629;

}
.price-btn-right {
    background-color: var(--thirdColor);
    color: var(--primaryWhiteColor);
}

.offer-price {
    font-family: var(--secondFont);
    font-size: 12px;
    line-height: 1px;
    font-weight: 700;
    text-align: center;
    color: rgba(19, 37, 59, 1);
    margin-top: 50px;
}

.option-list {

    font-family: var(--mainFont);
    font-size: 14px;
    line-height: 41px;
    letter-spacing: 0;
    font-weight: 400;
    text-align: center;
    color: var(--blackColor);
    margin-top: 93px;
   
}

.option-list-center{
    margin-top: 61px;
}

.option-list-right {
    margin-top: 45px;
}

.option-inactive span {
    background-image: url(../icon/Close.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 5px;   

}

.option-active span {
    background-image: url(../icon/Ckechmark-1.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 5px;    
}


/* section 6 */

.section-six {
    padding-bottom: 30px;
}

.form {
    width: 896px;
    height:372px;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    padding-bottom: 60px;

}

.form-left {
    width: 50%;
}

.form-right {
    width: 50%;
    text-align: left;

}

.form-right form {
    padding-top: 18px;
}

.main-text-contact {
    text-align: left;
    padding-top: 4px;
    padding-bottom: 22px;
    text-align: left;
    font-family: var(--secondFont);
    font-size: 49px;
    font-weight:300 ;
    line-height: 59px;
    letter-spacing: 0;
    color: var(--blackColor);

}

.contact-text {
    font-family: var(--mainFont);
    font-size: 16px;
    font-weight: 300;
    letter-spacing:0 ;
    line-height:22px ;
    color: var(--blackColor);
    text-align: left;
    margin-bottom: 42px;
}
.wrap-box {
    display: flex;
    justify-content: start;
    width: 400px;

}


.email-box {
    font-family: var(--mainFont);
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: rgba(165, 165, 165, 1);
    letter-spacing: 0;
    width: 46%;
}

.contact-icon{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 27px;
    height: 27px;
    float: left;
} 

.email-icon{
    background-image: url("../icon/Mail Icon.svg");
}
.phone-icon {
    background-image: url("../icon/Phone\ Icon.svg");
    
}

.phone-box {
    font-family: var(--mainFont);
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: rgba(165, 165, 165, 1);
    letter-spacing: 0;
}

.form-row label {
    display: block;
    font-family: var(--mainFont);
    font-weight: 700;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 3.28px;
    color: rgba(8, 166, 228, 1);
    text-transform: uppercase;
    margin: 18px 0;
}
.form-row input {
    display: inline-block;
    width: 100%;
    border: transparent;
    border-bottom: 1px solid rgba(149, 152, 154, 1);
}

.terms-and-agreements {
    margin-top: 20px;
    font-family: var(--mainFont);
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: var(--primaryGreyColor)
}

.terms-and-agreements input {
    float: left;
}

.terms-and-agreements p {
    float: right;
    width: 92%;
}

.button-contact {
    position: relative;
    float: right;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 19px;
    padding-left: 97px;
    font-family: var(--mainFont);
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    color: var(--primaryWhiteColor);
    

    
}
.button-contact a{
    box-shadow: none;
}


/* footer */
.footer {
    box-shadow: 0px -5px 40px #00000029;
    height: 90px;
    display: flex;
    justify-content: space-between;
}
.footer-right  {
    align-self: center;
    padding-right: 136px;
}

.logo-facebok {
    padding-left: 20px;
}

.footer-left {
    padding-left: 137px;
    align-self: center;
}
.main-logo {
    font-family: var(--secondFont);
    font-size: 26px;
    font-weight: 300;
    line-height:31px ;
    color: var(--primaryColor);
    padding-top: 25px;
    margin-bottom: 7px;
}

.copy-rights {
    font-family: var(--secondFont);
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0;
    color: var(--primaryGreyColorThird);
}

 .checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* checkbox */
  /* Hide the browser's default checkbox */
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: var(--primaryWhiteColor);
    border-radius: 4px;
    border: 1px solid var(--primaryGreyColorSecond);
  }
  
  /* On mouse-over, add a grey background color */
  .checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkbox-container input:checked ~ .checkmark {
    background-color: var(--primaryWhiteColor);
    color: var(--primaryColor);
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkbox-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkbox-container .checkmark::after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid var(--primaryColor);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }





